n8n/workflows/garmin-sync.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2e4ba1be-97e3-4c4a-a161-766741d01e89",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        272,
        -112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "GARMIN_ACCESS_TOKEN",
              "value": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImRpLW9hdXRoLXNpZ25lci1wcm9kLTIwMjQtcTEifQ.eyJzY29wZSI6WyJBVFBfUkVBRCIsIkFUUF9XUklURSIsIkNJUV9BUFBTVE9SRV9TRVJWSUNFU19DUkVBVEUiLCJDSVFfQVBQU1RPUkVfU0VSVklDRVNfREVMRVRFIiwiQ0lRX0FQUFNUT1JFX1NFUlZJQ0VTX1JFQUQiLCJDSVFfQVBQU1RPUkVfU0VSVklDRVNfVVBEQVRFIiwiQ09NTVVOSVRZX0NPVVJTRV9SRUFEIiwiQ09NTVVOSVRZX0NPVVJTRV9XUklURSIsIkNPTk5FQ1RfTUNUX0RBSUxZX0xPR19SRUFEIiwiQ09OTkVDVF9SRUFEIiwiQ09OTkVDVF9XUklURSIsIkRJVkVfQVBJX1JFQUQiLCJESV9PQVVUSF8yX0FVVEhPUklaQVRJT05fQ09ERV9DUkVBVEUiLCJEVF9DTElFTlRfQU5BTFlUSUNTX1dSSVRFIiwiR0FSTUlOUEFZX1JFQUQiLCJHQVJNSU5QQVlfV1JJVEUiLCJHQ09GRkVSX1JFQUQiLCJHQ09GRkVSX1dSSVRFIiwiR0hTX1NBTUQiLCJHSFNfVVBMT0FEIiwiR09MRl9BUElfUkVBRCIsIkdPTEZfQVBJX1dSSVRFIiwiSU5TSUdIVFNfUkVBRCIsIklOU0lHSFRTX1dSSVRFIiwiT01UX0NBTVBBSUdOX1JFQUQiLCJPTVRfU1VCU0NSSVBUSU9OX1JFQUQiLCJQUk9EVUNUX1NFQVJDSF9SRUFEIl0sImlzcyI6Imh0dHBzOi8vZGlhdXRoLmdhcm1pbi5jb20iLCJyZXZvY2F0aW9uX2VsaWdpYmlsaXR5IjpbIkdMT0JBTF9TSUdOT1VUIiwiTUFOQUdFRF9TVEFUVVMiXSwiY2xpZW50X3R5cGUiOiJVTkRFRklORUQiLCJleHAiOjE3NjY3NDE5NDYsImlhdCI6MTc2NjY2MjQ4NCwiZ2FybWluX2d1aWQiOiI3Y2ZhOGU1ZC1mZDgzLTRlZGQtYTkzYi1mNmZlZjA0NWVmZjYiLCJqdGkiOiI3NDFlYjE1Ny1hNGY5LTRlZjUtYTQ4NC0yNGIyZDQyOWIzMjIiLCJjbGllbnRfaWQiOiJHQVJNSU5fQ09OTkVDVF9NT0JJTEVfQU5EUk9JRF9ESSJ9.KG7k5V7SyLaiCF5Bbge9oYPbzyYf4_P_e8MkYLTnmO0WBqOA74K4K9vYslLqn9NrEc_ymdYcW8TYQKSlXYNsq5TvLts0-MVtp-iZIrDYz2SSxMVkdrOKXDQhKBpmYDvuVwKO7jqvqBuloUxD8Dz0jzJ0qSw1CFoG_LZaPTUqYIjUk-q8jQ8fFB7XpRCMNNz8cZm3_-0wSR6NHrjOoMm_LQom_KnF9WZw65fQ-VibQOoDOeIG3uffL_2NKeib5eEySSwaTsKnNQD4qXSYkdW7ftC8oynIWcDSsYx2_9mS2baJ31wogtawww7jtt9kxojErIErVvol7JOQttGT9SLZMw",
              "type": "string"
            },
            {
              "id": "2",
              "name": "limit",
              "value": "10",
              "type": "string"
            },
            {
              "id": "3",
              "name": "activity_types",
              "value": "running,trail_running,treadmill_running",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "91ab8038-53c4-4adc-9222-cfd8d123a7b2",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://connectapi.garmin.com/activitylist-service/activities/search/activities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.GARMIN_ACCESS_TOKEN }}"
            },
            {
              "name": "User-Agent",
              "value": "GCM-iOS-5.7.2.1"
            }
          ]
        },
        "options": {}
      },
      "id": "cddcb12a-e2cb-46f3-8405-20997ff27a76",
      "name": "Fetch Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalize & Filter Garmin Activities\n */\nconst inputItems = $input.all();\nlet activities = [];\n\nfor (const item of inputItems) {\n  const json = item.json;\n  if (Array.isArray(json.activities)) {\n    activities.push(...json.activities);\n  } else if (json.activityId) {\n    activities.push(json);\n  } else if (Array.isArray(json)) {\n    activities.push(...json);\n  }\n}\n\n// Handle direct array response\nif (activities.length === 0 && Array.isArray(inputItems[0]?.json)) {\n  activities = inputItems[0].json;\n}\n\nconst activityTypes = $('Config').first().json.activity_types\n  .split(',').map(t => t.trim().toLowerCase());\n\nif (activities.length === 0) {\n  return [{ json: { message: 'No activities found' } }];\n}\n\nconst getTypeKey = (activity) => {\n  const at = activity?.activityType;\n  if (!at) return 'unknown';\n  if (typeof at === 'string') return at;\n  if (typeof at === 'object' && typeof at.typeKey === 'string') return at.typeKey;\n  return 'unknown';\n};\n\nconst results = activities\n  .filter(a => activityTypes.includes(getTypeKey(a).toLowerCase()))\n  .map(activity => ({\n    activity_id: String(activity.activityId),\n    activity_type: getTypeKey(activity),\n    activity_name: activity.activityName || '',\n    start_time: activity.startTimeLocal || '',\n    distance_m: activity.distance ?? 0,\n    duration_s: activity.duration ?? 0,\n    avg_hr: activity.averageHR ?? null,\n    max_hr: activity.maxHR ?? null,\n    avg_cadence: activity.averageRunningCadenceInStepsPerMinute ?? null,\n    avg_pace_sec_per_km: activity.distance > 0 ? activity.duration / (activity.distance / 1000) : null,\n    elevation_gain_m: activity.elevationGain ?? null,\n    elevation_loss_m: activity.elevationLoss ?? null,\n    training_effect_aerobic: activity.aerobicTrainingEffect ?? null,\n    training_effect_anaerobic: activity.anaerobicTrainingEffect ?? null,\n    vo2max: activity.vO2MaxValue ?? null,\n    calories: activity.calories ?? null,\n    raw_json: JSON.stringify(activity),\n    synced_at: new Date().toISOString()\n  }));\n\nif (results.length === 0) {\n  return [{ json: { message: 'No matching activities', total: activities.length } }];\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "bce7ce80-ba84-4a10-adf3-1e98e3618618",
      "name": "Normalize & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "i7a1sPDBgxZk6ehE"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "activity_id",
              "keyValue": "={{ $json.activity_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activity_id": "={{ $json.activity_id }}",
            "activity_type": "={{ $json.activity_type }}",
            "activity_name": "={{ $json.activity_name }}",
            "start_time": "={{ $json.start_time }}",
            "distance_m": "={{ $json.distance_m }}",
            "duration_s": "={{ $json.duration_s }}",
            "avg_hr": "={{ $json.avg_hr }}",
            "max_hr": "={{ $json.max_hr }}",
            "avg_cadence": "={{ $json.avg_cadence }}",
            "avg_pace_sec_per_km": "={{ $json.avg_pace_sec_per_km }}",
            "elevation_gain_m": "={{ $json.elevation_gain_m }}",
            "elevation_loss_m": "={{ $json.elevation_loss_m }}",
            "training_effect_aerobic": "={{ $json.training_effect_aerobic }}",
            "training_effect_anaerobic": "={{ $json.training_effect_anaerobic }}",
            "vo2max": "={{ $json.vo2max }}",
            "calories": "={{ $json.calories }}",
            "raw_json": "={{ $json.raw_json }}",
            "synced_at": "={{ $json.synced_at }}"
          },
          "matchingColumns": [
            "activity_id"
          ],
          "schema": [
            {
              "id": "activity_id",
              "displayName": "activity_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activity_type",
              "displayName": "activity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activity_name",
              "displayName": "activity_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distance_m",
              "displayName": "distance_m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "duration_s",
              "displayName": "duration_s",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "avg_hr",
              "displayName": "avg_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "max_hr",
              "displayName": "max_hr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "avg_cadence",
              "displayName": "avg_cadence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "avg_pace_sec_per_km",
              "displayName": "avg_pace_sec_per_km",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "elevation_gain_m",
              "displayName": "elevation_gain_m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "elevation_loss_m",
              "displayName": "elevation_loss_m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "training_effect_aerobic",
              "displayName": "training_effect_aerobic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "training_effect_anaerobic",
              "displayName": "training_effect_anaerobic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vo2max",
              "displayName": "vo2max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "calories",
              "displayName": "calories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "raw_json",
              "displayName": "raw_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "synced_at",
              "displayName": "synced_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fbffce71-7c4a-4be7-aea2-32e67f419d72",
      "name": "Save to Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1072,
        -112
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Activities": {
      "main": [
        [
          {
            "node": "Normalize & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Filter": {
      "main": [
        [
          {
            "node": "Save to Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1efd2ca80b94acb28ab810f67bf5b593ac01f737ca30bd49ec6fd49ae858aa43"
  }
}