n8n/workflows/garmin-backfill.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "aaaaf9da-adc3-449b-91a4-8b42d4297eb1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1600,
        -656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "GARMIN_ACCESS_TOKEN",
              "value": "YOUR_GARMIN_BEARER_TOKEN_HERE",
              "type": "string"
            },
            {
              "id": "2",
              "name": "limit",
              "value": "100",
              "type": "string"
            },
            {
              "id": "3",
              "name": "activity_types",
              "value": "running,trail_running,treadmill_running",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0f1cd78-776a-43ea-a9c5-0e6811a6ed2e",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -656
      ]
    },
    {
      "parameters": {
        "url": "https://connectapi.garmin.com/activitylist-service/activities/search/activities",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json.limit }}"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.GARMIN_ACCESS_TOKEN }}"
            },
            {
              "name": "User-Agent",
              "value": "GCM-iOS-5.7.2.1"
            }
          ]
        },
        "options": {}
      },
      "id": "d5b02f84-0327-4c5e-9762-d0c55ac4d72e",
      "name": "Fetch Activities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -656
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Normalize & Filter Garmin Activities\n * Handles ALL Garmin + n8n response shapes safely\n */\n\n// 1️⃣ Collect all incoming items\nconst inputItems = $input.all();\n\n// 2️⃣ Extract activities regardless of shape\nlet activities = [];\n\nfor (const item of inputItems) {\n  const json = item.json;\n\n  // Case A: Full API response\n  if (Array.isArray(json.activities)) {\n    activities.push(...json.activities);\n  }\n  // Case B: Single activity already split\n  else if (json.activityId) {\n    activities.push(json);\n  }\n}\n\n// 3️⃣ Load allowed activity types\nconst activityTypes = $('Config')\n  .first()\n  .json\n  .activity_types\n  .split(',')\n  .map(t => t.trim().toLowerCase());\n\n// 4️⃣ Validate\nif (!Array.isArray(activities) || activities.length === 0) {\n  throw new Error(\n    'No activities found. Sample input: ' +\n    JSON.stringify(inputItems[0]?.json).substring(0, 300)\n  );\n}\n\n// 5️⃣ Safe extractor\nconst getTypeKey = (activity) => {\n  const at = activity?.activityType;\n\n  if (!at) return 'unknown';\n  if (typeof at === 'string') return at;\n  if (typeof at === 'object' && typeof at.typeKey === 'string') {\n    return at.typeKey;\n  }\n  return 'unknown';\n};\n\n// 6️⃣ Normalize + filter\nconst results = activities\n  .filter(a =>\n    activityTypes.includes(getTypeKey(a).toLowerCase())\n  )\n  .map(activity => ({\n    activity_id: String(activity.activityId),\n    activity_type: getTypeKey(activity),\n    activity_name: activity.activityName || '',\n    start_time: activity.startTimeLocal || '',\n    distance_m: activity.distance ?? 0,\n    duration_s: activity.duration ?? 0,\n\n    avg_hr: activity.averageHR ?? null,\n    max_hr: activity.maxHR ?? null,\n    avg_cadence: activity.averageRunningCadenceInStepsPerMinute ?? null,\n\n    avg_pace_sec_per_km:\n      activity.distance > 0\n        ? activity.duration / (activity.distance / 1000)\n        : null,\n\n    elevation_gain_m: activity.elevationGain ?? null,\n    elevation_loss_m: activity.elevationLoss ?? null,\n\n    training_effect_aerobic: activity.aerobicTrainingEffect ?? null,\n    training_effect_anaerobic: activity.anaerobicTrainingEffect ?? null,\n\n    vo2max: activity.vO2MaxValue ?? null,\n    calories: activity.calories ?? null,\n\n    raw_json: JSON.stringify(activity),\n    synced_at: new Date().toISOString()\n  }));\n\n// 7️⃣ Fallback\nif (results.length === 0) {\n  return [{\n    json: {\n      message: 'No matching activities',\n      total_received: activities.length,\n      allowed_types: activityTypes\n    }\n  }];\n}\n\n// 8️⃣ Output\nreturn results.map(r => ({ json: r }));\n"
      },
      "id": "d279c30d-7750-4178-bf54-5bc277728fdc",
      "name": "Normalize & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -656
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "i7a1sPDBgxZk6ehE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activity_id": "={{ $json.activity_id }}",
            "activity_type": "={{ $json.activity_type }}",
            "activity_name": "={{ $json.activity_name }}",
            "start_time": "={{ $json.start_time }}",
            "distance_m": "={{ $json.distance_m }}",
            "duration_s": "={{ $json.duration_s }}",
            "avg_hr": "={{ $json.avg_hr }}",
            "max_hr": "={{ $json.max_hr }}",
            "avg_cadence": "={{ $json.avg_cadence }}",
            "avg_pace_sec_per_km": "={{ $json.avg_pace_sec_per_km }}",
            "elevation_gain_m": "={{ $json.elevation_gain_m }}",
            "elevation_loss_m": "={{ $json.elevation_loss_m }}",
            "training_effect_aerobic": "={{ $json.training_effect_aerobic }}",
            "training_effect_anaerobic": "={{ $json.training_effect_anaerobic }}",
            "vo2max": "={{ $json.vo2max }}",
            "calories": "={{ $json.calories }}",
            "raw_json": "={{ $json.raw_json }}",
            "synced_at": "={{ $json.synced_at }}"
          },
          "matchingColumns": [
            "activity_id"
          ]
        },
        "options": {}
      },
      "id": "29f91994-4b96-44e8-9963-1e4e11a8b743",
      "name": "Save to Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2400,
        -656
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Fetch Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Activities": {
      "main": [
        [
          {
            "node": "Normalize & Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Filter": {
      "main": [
        [
          {
            "node": "Save to Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "1efd2ca80b94acb28ab810f67bf5b593ac01f737ca30bd49ec6fd49ae858aa43"
  }
}